@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header{
  background-color: #1C0A89;
  color: #ffffff;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header input{
  width: 330px;
  height: 46px;
  border-radius: 10px;
  padding-left: 10px;
}
.header__login{
  display: flex;
}
.header__login img{
 margin: auto;
}
.header__login__description{
  margin-left: 1rem;
}
.header__login__description p{
  margin: 0;
}
.header__login__description__label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__login__description__label a{
  font-weight: bold;
}
.header__carrinho{
  display: flex;
  align-items: center;
  color: #000;
}
.header__carrinho p{
  background-color: #ffffff;
  border-radius: 50%;
  height: fit-content;
  padding: 2px;
}

.footer{
  display: flex;
  flex-direction:row;
  background-color: #29A39B;
  justify-content: space-between;
  height: 100px;
}
.footer_contact{
align-items: center;
justify-content: center;
font-family: 'Inter', sans-serif;
margin-left: 40px;
font-size: 13px;
font-weight: bold;
}
.footer_contact h2{
  margin-top: 7px
}
.footer_contact p{
  margin: 10px 0px;
}
.footer_social ul li{
  width: 140px;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-right: 55px;
}
.footer_social ul li img{
  width: 35px;
  color: #ffffff;
  margin: 0px 15px 5px;
}
.carrousel{
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
 
}
.carrousel_buttons{
  width: 30px ;
  height: 30px ;
  font-size: 20px ;
  border-radius: 50% ;
}
.carrousel_itens{
  position:relative ;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.carrousel_bools{
  margin-left: 48%;
}
.carrousel_img{
  height: 350px;
  margin: 0px 20px;
}
.destaque{
  margin: 20px;
  background-color: #1C0A89 ;
  border-radius: 15px;
  padding: 2px 15px 15px;
}
.destaque_titulo{
  font-size: 30px;
  display: flex;
  background-color: #29A39B ;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height:45px ;
}
.destaque_iten{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item{
  width: 170px;
  height: 330px;
  margin: 15px;
  border-radius: 10px;
  background-color: #ffffff;
}
.item_img{
  width: 170px;
  height: 170px;
  border-radius: 10px 10px 0px 0px 
}
.item_titulo{
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 25px;
}
.item_preco{
  font-size: 12px;
  margin-left: 8px;
}
.form_title{
  display: flex;
justify-content: center;
margin-top: 30px;
}
.form{
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  }
.form_input {
border-radius: 12px ;
height: 45px;
border-color:#29A39B
}
.form_label{
  margin: 0px 0px 5px 5px;

}
.form_submit{
  border-radius: 5px;
  margin-bottom: 5px;
  width: 180px;
  height:30px;
  font-size: medium;

}
.form_all{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}
.form_input_file{
  display:flex ;
  border-width: 2px;
  border-style: dotted;
  border-radius: 12px ;
  align-items: center;
  justify-content: center;
  height: 120px ;
}

.footer_social ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer_social ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.footer_social ul li img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}